@model Estacionamento.Models.Mensalista

@{
    ViewBag.Title = "Details";
}

<h2>Detalhes do Mensalista</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ModeloVeiculo.Marca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModeloVeiculo.Marca)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pessoa.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pessoa.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlacaVeiculo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlacaVeiculo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValorMensal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValorMensal)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id } , new { @class = "btn btn-primary btn-sm" }) |
    @Html.ActionLink("Voltar para a página", "Index" , null , new { @class = "btn btn-warning btn-sm" })
</p>
