@model Estacionamento.Models.TabelaPreco

@{
    ViewBag.Title = "Details";
}

<h2>Detalhe de Preços</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
         
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoVeiculo.Nome)
        </dd>

        <dt>
            Tipo Veiculo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
             Valor Hora 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValorHora)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary btn-sm" }) |
    @Html.ActionLink("Voltar para a página", "Index", null, new { @class = "btn btn-warning btn-sm" })
</p>
