@model Estacionamento.Models.TabelaPreco

@{
    ViewBag.Title = "Details";
}

<h2>Detalhe de Preços</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
         
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoVeiculo.Nome)
        </dd>

        <dt>
            Tipo Veiculo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
             Valor Hora 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValorHora)
        </dd>

    </dl>
</div>
<p>
    <a class="btn btn-primary btn-sm texto-branco" href="@Url.Action("Edit", new { id = Model.Id } )">
        <i class="fas fa-edit"></i>
        Editar
    </a> |

    <a class="btn btn-warning btn-sm texto-branco" href="@Url.Action("Index")">
        <i class="fas fa-chevron-left"></i>
        Voltar para a página
    </a>
</p>
