@model Estacionamento.Models.MovimentacaoVeiculo

@{
    ViewBag.Title = "Delete";
}

<h2>Deletar Movimentação</h2>


<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DataHoraEntrada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataHoraEntrada)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataHoraSaida)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataHoraSaida)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlacaVeiculo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlacaVeiculo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoVeiculoId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoVeiculo.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValorTotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValorTotal)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.Gerado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gerado)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.UsuarioId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MensalistaId)
        </dt>

        <dd>
            @if (Model.MensalistaId == null)
            {
                <p>Não há mensalista</p>
            }
            else
            {
                @Html.DisplayFor(model => model.Mensalista.Pessoa.Nome)
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VagaId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vaga.Numero)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vaga.Setor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vaga.Setor.Nome)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Deletar" class="btn btn-danger btn-sm" /> |
            <a class="btn btn-warning btn-sm texto-branco" href="@Url.Action("Index")">
                <i class="fas fa-chevron-left"></i>
                Voltar para a página
            </a>
        </div>
    }
</div>
