@model IEnumerable<Estacionamento.Models.MovimentacaoVeiculo>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DataHoraEntrada)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataHoraSaida)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PlacaVeiculo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vaga.Setor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vaga)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DataHoraEntrada)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataHoraSaida)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PlacaVeiculo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vaga.Setor.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vaga.Numero)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id }) |
            @Html.ActionLink("Finalizar Movimentacao", "FinalizarMovimentacao", new { id = item.Id })
        </td>
    </tr>
}

</table>
