@model Estacionamento.Models.ModeloVeiculo

@{
    ViewBag.Title = "Details";
}

<h2>Detalhes do Veiculo</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>

        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoVeiculo.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Marca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Marca)
        </dd>

        <dt>
             Modelo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

       


    </dl>
</div>
<p>
    <a class="btn btn-primary btn-sm texto-branco" href="@Url.Action("Edit", new { id = Model.Id } )">
        <i class="fas fa-edit"></i>
        Editar
    </a> |

    <a class="btn btn-warning btn-sm texto-branco" href="@Url.Action("Index")">
        <i class="fas fa-chevron-left"></i>
        Voltar para a página
    </a>
</p>
