@model IEnumerable<Estacionamento.Models.ModeloVeiculo>

@{
    ViewBag.Title = "Index";
}

<h2>Modelo de Veiculos</h2>

<p>
    @Html.ActionLink("Novo Veiculo", "Create" , null, new { @class = "btn btn-success" })
</p>

@Html.ValidationSummary(true, "", new { @class = "text-danger" })

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Marca)
        </th>
        <th>
            Modelo
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Marca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.Id }, new { @class = "btn btn-primary btn-sm" }) |
                @Html.ActionLink("Detalhes", "Details", new { id = item.Id }, new { @class = "btn btn-info btn-sm" }) |
                @Html.ActionLink("Deletar", "Delete", new { id = item.Id }, new { @class = "btn btn-danger btn-sm" })
            </td>
            <td>
                
            </td>
        </tr>
    }

</table>
