<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="~/icon/favicon.png" />
    <title>@ViewBag.Title - LIFE Estacionamento</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/fontawesome-free-5.3.1-web/css/all.min.css" rel="stylesheet" />
</head>
<body>
    @*<div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("LIFE Estacionamento", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">


                        @{
                            var user = Session["usuarioLogado"] as Estacionamento.Models.Usuario;
                        }
                        @if (user.Papel == Entidades.Entidades.Enuns.TipoUsuario.Administrador)
                        {
                            <li>@Html.ActionLink("Usuarios", "Index", "Usuarios")</li>
                            <li>@Html.ActionLink("Fechamento Mês", "GerarDocumento", "FechamentoMes")</li>
                            <li>@Html.ActionLink("Resumo Mensal", "Index", "ResumoMensal")</li>
                            <li>@Html.ActionLink("Tabela de Preços", "Index", "TabelaPrecos")</li>
                            <li>@Html.ActionLink("Setores", "Index", "Setores")</li>
                            <li>@Html.ActionLink("Mensalistas", "Index", "Mensalistas")</li>
                        }
                        @if (user.Papel == Entidades.Entidades.Enuns.TipoUsuario.Operador)
                        {
                            <li>@Html.ActionLink("Movimentação", "Index", "MovimentacaoVeiculos")</li>
                            <li>@Html.ActionLink("Modelo de Veiculos", "Index", "ModeloVeiculos")</li>
                            <li>@Html.ActionLink("Tipo de Veiculos", "Index", "TipoVeiculos")</li>
                        }
                        <li>@Html.ActionLink("Pessoas", "Index", "Pessoas")</li>
                        <li>@Html.ActionLink("Logout", "Deslogar", "Login")</li>
                    </ul>
                </div>
            </div>
        </div>*@
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="~/">
            <img src="~/icon/favicon.png" width="30" height="30" class="d-inline-block align-top" alt="">
            LIFE Estacionamento
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                @{
                    var user = Session["usuarioLogado"] as Estacionamento.Models.Usuario;
                }
                @if (user.Papel == Entidades.Entidades.Enuns.TipoUsuario.Administrador)
                {
                    <li>
                        <a class="nav-link" href="~/Usuarios">Usuarios</a>
                    </li>
                    <li>
                        <a class="nav-link" href="~/ResumoMensal">Resumo Mensal</a>
                    </li>
                    <li>
                        <a class="nav-link" href="~/FechamentoMes/GerarDocumento">Fechamento Mês</a>
                    </li>
                    <li>
                        <a class="nav-link" href="~/TabelaPrecos">Tabela de Preços</a>
                    </li>
                    <li>
                        <a class="nav-link" href="~/Setores">Setores</a>
                    </li>
                    <li>
                        <a class="nav-link" href="~/Mensalistas">Mensalistas</a>
                    </li>

                    <li>
                        <a class="nav-link" href="~/Vagas">Vagas</a>
                    </li>
                }
                <li>
                    <a class="nav-link" href="~/MovimentacaoVeiculos">Movimentação</a>
                </li>
                <li>
                    <a class="nav-link" href="~/ModeloVeiculos">Modelo de Veiculos</a>
                </li>
                <li>
                    <a class="nav-link" href="~/TipoVeiculos">Tipo de Veiculos</a>
                </li>

                <li>
                    <a class="nav-link" href="~/Pessoas">Pessoas</a>
                </li>
                <li>
                    <a class="nav-link" href="~/Login/Deslogar">
                        <i class="fas fa-sign-out-alt"></i>
                        Logout
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; LIFE Estacionamento</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Content/fontawesome-free-5.3.1-web/js/all.min.js"></script>
</body>
</html>
