<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LIFE Estacionamento</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Estacionamento", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                  
                   @*<li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Produto
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="http://localhost:62680/Produto/">Lista</a>
                            <br />
                            <a class="dropdown-item" href="http://localhost:62680/Produto/Form">Cadastro</a>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Categoria
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="http://localhost:62680/Categoria/">Lista</a>
                            <br />
                            <a class="dropdown-item" href="http://localhost:62680/Categoria/Form">Cadastro</a>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Pessoa Física
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="http://localhost:62680/PessoaFisica/">Lista</a>
                            <br />
                            <a class="dropdown-item" href="http://localhost:62680/PessoaFisica/Form">Cadastro</a>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Pessoa Juridica
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="http://localhost:62680/PessoaJuridica/">Lista</a>
                            <br />
                            <a class="dropdown-item" href="http://localhost:62680/PessoaJuridica/Form">Cadastro</a>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Promoção
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="http://localhost:62680/Promocao/">Lista</a>
                            <br />
                            <a class="dropdown-item" href="http://localhost:62680/Promocao/Form">Cadastro</a>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Tipo de Usuario
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="http://localhost:62680/TipoUsuario/">Lista</a>
                            <br />
                            <a class="dropdown-item" href="http://localhost:62680/TipoUsuario/Form">Cadastro</a>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Venda
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="http://localhost:62680/Venda/">Lista</a>
                            <br />
                            <a class="dropdown-item" href="http://localhost:62680/Venda/Venda">Cadastro</a>
                        </div>
                    </li>*@

                    <li>@Html.ActionLink("Usuarios", "Index", "Usuarios")</li>
                    <li>@Html.ActionLink("Vagas", "Index", "Vagas")</li>
                    <li>@Html.ActionLink("Setores", "Index", "Setores")</li>
                    <li>@Html.ActionLink("Tipo de Veiculos", "Index", "TipoVeiculos")</li>
                    <li>@Html.ActionLink("Pessoas", "Index", "Pessoas")</li>
                    <li>@Html.ActionLink("Modelo de Veiculos", "Index", "ModeloVeiculos")</li>
                    <li>@Html.ActionLink("Tabela de Preços", "Index", "TabelaPrecos")</li>
                    <li>@Html.ActionLink("Movimentação", "Index", "MovimentacaoVeiculos")</li>
                    <li>@Html.ActionLink("Logout", "Deslogar", "Login")</li>

                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; LIFE Estacionamento</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
