@model Estacionamento.Models.Vaga

@{
    ViewBag.Title = "Delete";
}

<h2>Deletar Vaga</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Setor.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Setor.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Numero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Numero)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Situacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Situacao)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Deletar" class="btn btn-danger btn-sm" /> |
        @Html.ActionLink("Voltar para a página", "Index", null, new { @class = "btn btn-warning btn-sm" })
    </div>
    }
</div>
