@model Estacionamento.Models.Vaga

@{
    ViewBag.Title = "Details";
}

<h2>Detalhes da Vaga</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
           
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Setor.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Numero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Numero)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Situacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Situacao)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary btn-sm" }) |
    @Html.ActionLink("Voltar para a página", "Index", null, new { @class = "btn btn-warning btn-sm" })
</p>
