@model Estacionamento.Models.Vaga

@{
    ViewBag.Title = "Details";
}

<h2>Detalhes da Vaga</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
           
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Setor.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Numero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Numero)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Situacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Situacao)
        </dd>

    </dl>
</div>
<p>
    <a class="btn btn-primary btn-sm texto-branco" href="@Url.Action("Edit", new { id = Model.Id } )">
        <i class="fas fa-edit"></i>
        Editar
    </a> |

    <a class="btn btn-warning btn-sm texto-branco" href="@Url.Action("Index")">
        <i class="fas fa-chevron-left"></i>
        Voltar para a página
    </a>
</p>
